html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body  {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  background-color: hsl(30, 38%, 92%);
}

/****************Attribution****************/

.attribution { 
  font-size: 11px;
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}