:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-darker-cyan: hsl(161, 34%, 20%);
  --color-cream: hsl(30, 38%, 92%);
  --color-dark-blue: hsl(212, 21%, 14%);
  --color-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  background-color: var(--color-cream);
  color: var(--color-grayish-blue);
}

.container {
  min-height: 95vh;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
  }
}

/****************Card****************/
.card {
  width: 60rem;
  min-height: 45rem;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 768px) {
  .card {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr;
    margin: 2rem;
  }
}
.card__product-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("/images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0 0 0.5rem;
}
@media only screen and (max-width: 768px) {
  .card__product-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("/images/image-product-mobile.jpg");
    border-radius: 1rem 1rem 0 0;
  }
}
.card__product-details {
  padding: 3.2rem;
}
.card__product-category {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.card__product-name {
  font-size: 3.2rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: var(--color-dark-blue);
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 768px) {
  .card__product-name {
    font-size: 3rem;
  }
}
.card__product-description {
  line-height: 1.6;
  margin-bottom: 2.8rem;
}
.card__product-price {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.card__sale-price {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--color-dark-cyan);
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  .card__sale-price {
    font-size: 3rem;
  }
}
.card__regular-price {
  font-size: 1.3rem;
  text-decoration: line-through;
}
.card__button:link, .card__button:visited {
  display: block;
  background-color: var(--color-dark-cyan);
  border-radius: 0.8rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__button:active {
  background-color: var(--color-darker-cyan);
}
.card__button:hover {
  opacity: 0.9;
}
.card__button-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

/****************Attribution****************/
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}

.attribution a {
  color: var(--color-dark-cyan);
}