/****************Card****************/

.card {
  width: 60rem;
  min-height: 45rem;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 650px) {
    & {
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      margin: 2rem;
    }
  }

  &__product-image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem 0 0 0.5rem;

    @media only screen and (max-width: 650px) {
      & {
        border-radius: 1rem 1rem 0 0;
        height: auto;
      }
    }
  }

  &__product-details {
    padding: 3.2rem;
  }

  &__product-category {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__product-name {
    font-size: 3.2rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: var(--color-dark-blue);
    margin: 2rem 0 2.5rem 0;

    @media only screen and (max-width: 650px) {
      & {
        font-size: 2.8rem;
        margin: 2rem 0;
      }
    }
  }

  &__product-description {
    line-height: 1.6;
    margin-bottom: 2.8rem;

    @media only screen and (max-width: 650px) {
      & {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__product-price {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__sale-price {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--color-dark-cyan);
    margin-right: 2rem;

    @media only screen and (max-width: 650px) {
      & {
        font-size: 2.8rem;
      }
    }
  }

  &__regular-price {
    font-size: 1.3rem;
    text-decoration: line-through;
  }

  &__button:link,
  &__button:visited {
    display: block;
    background-color: var(--color-dark-cyan);
    border-radius: 0.8rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button:active {
    background-color: var(--color-darker-cyan);
  }

  &__button:hover {
    opacity: 0.9;
  }

  &__button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

}

/****************Attribution****************/

.attribution { 
  font-size: 11px;
  text-align: center;
  line-height: 1.5;
  margin: 1rem;
}
.attribution a { 
  color: var(--color-dark-cyan); 
}